# Makefile for libtts_connect
# Copyright (C) 2015 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = tts_connect

LIB_BOOST_LIB_NAMES := system

LIB_SRCC = \
        tts_connect.cpp \
        espeak_wrap.cpp \
        svox_wrap.cpp \
        festvox_wrap.cpp \

LIB_EXT_LIB_NAMES = \
        espeak_cpp \
        wave \
        lang_tools \
        gspeak \
        svox \
        festvox \
        utils \
