# Makefile for libtts_connect
# Copyright (C) 2015 Sergey Kolevatov

###################################################################

VER = 0

APP_PROJECT := example

APP_BOOST_LIB_NAMES := system

APP_THIRDPARTY_LIBS = -lcurl -lportaudio -lespeak

APP_SRCC = example.cpp

APP_EXT_LIB_NAMES = \
        espeak_cpp \
        wave \
        lang_tools \
        gspeak \
        svox \
        festvox \
        utils \
